<div
  id="eventHomeBody"
  [ngClass]="{ blur: showDeletePopup || showLogoutPopup }"
>
  <!-- <div class="main-head"> -->
  <div class="top-head">
    <button class="logout-btn-grad" (click)="showLogoutPopup = true">
      Logout
    </button>
    <button class="add-btn-grad" (click)="navigateToAddDoctor()">
        Add new Doctor
      </button>
  </div>
  <h1>Our Doctors</h1>

  <!-- </div> -->
  <div class="search-sort-container">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="searchDoctorsByUserId()"
      placeholder="Search by doctor name..."
    />
  </div>

  <div class="grid-container">
    <div class="grid-item" *ngFor="let doctor of doctors">
      <img src="{{ doctor.photo }}" alt="Doctor Image" class="doctor-image" />
        <h2>{{ doctor.firstName }} {{ doctor.lastName }}</h2>
      <p>Experience: {{ doctor.experience}}</p>
      <p>Specialization: {{ doctor.specialization }}</p>
      <div class="buttons">
        <button
          class="view-btn-grad"
          (click)="viewInfo(doctor)"
        >
          View
        </button>
        <button
          class="edit-btn-grad"
          (click)="navigateToEditDoctor(doctor); $event.stopPropagation()"
        >
          Edit
        </button>
        <button
          class="delete-btn-grad btn-danger"
          (click)="
            showDeletePopup = true;
            selectedDoctor = doctor;
            $event.stopPropagation()
          "
        >
          Delete
        </button>
        
      </div>
    </div>
  </div>
</div>

<div *ngIf="showDeletePopup" class="delete-popup">
  <p>Are you sure you want to delete?</p>
  <button
    (click)="deleteDoctor(selectedDoctor); showDeletePopup = false"
    id="delete-btn"
  >
    Yes, Delete
  </button>
  <button (click)="showDeletePopup = false">Cancel</button>
</div>

<div *ngIf="showLogoutPopup" class="logout-popup">
  <p>Are you sure you want to logout?</p>
  <button (click)="logout(); showLogoutPopup = false" id="logout-btn">
    Yes, Logout
  </button>
  <button (click)="showLogoutPopup = false">Cancel</button>
</div>

<div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
  <div class="modal-content">
    <span class="close" (click)="toggleModal()">&times;</span>
    <h2 class="doctor-name">{{ selectedItem.firstName }} {{ selectedItem.lastName }}</h2>
    <div class="image-container">
      <p><strong>Experience:</strong> {{ selectedItem.experience }}</p>
      <p><strong>Specialization:</strong> {{ selectedItem.specialization }}</p>
      <p><strong>Location:</strong> {{ selectedItem.location}}</p>
      <p><strong>Availability:</strong> {{ selectedItem.availability }}</p>
    </div>
  </div>
</div>
