<div class="main-container">
    <div class="sub-container">
      <button class="back-btn" (click)="goBack()">Back</button>
  
      <h1>Update Vacation Rental</h1>
  
      <form *ngIf="doctor">
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input [(ngModel)]="doctor.firstName" id="title" name="firstName" />
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input [(ngModel)]="doctor.lastName" id="lastName" name="lastName" />
          </div>

          <div class="form-group">
            <label for="specialization">Specialization:</label>
            <input [(ngModel)]="doctor.specialization" id="specialization" name="specialization" />
          </div>
  
        <div class="form-group">
          <label for="experience">Experience:</label>
          <input
            [(ngModel)]="doctor.experience"
            id="description"
            name="experience"
            type="number"
          >
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input
              type="text"
              id="location"
              name="location"
              [(ngModel)]="doctor.location"
            />
          </div>
  
        <div class="form-group">
          <label>Availability:</label>
          <div *ngFor="let availability of availabilities; index as i">
              <div class="amenity-container">
                  <input
                  type="checkbox"
                  id="availability{{ i }}"
                  [checked]="doctor.availabilities && doctor.availabilities.includes(availability)"
                  (change)="handleCheckboxChange($event, availability)"
                />
                <label for="availability{{ i }}">{{ availability }}</label>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label for="photo">Photo:</label>
            <input
              type="file"
              id="photo"
              name="photo"
              (change)="handleFileChange($event)"
              accept=".png, .jpg"
            />
          </div>

        <div class="button-submit">
          <button type="submit" (click)="updateDoctor()">
            Update Doctor
          </button>
        </div>
      </form>
    </div>
  </div>
  