<div class="main-container">
    <div class="sub-container">
<button class="back-btn" (click)="goBack()">Back</button>

<h1>Create New Doctor</h1>

<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName">
      <div *ngIf="doctorForm.get('firstName').hasError('required') && doctorForm.get('firstName').touched">
        *First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName">
      <div *ngIf="doctorForm.get('lastName').hasError('required') && doctorForm.get('lastName').touched">
        *Last Name is required.
      </div>
    </div>

    <div class="form-group">
        <label for="specialization">Specialization:</label>
        <input type="text" id="specialization" formControlName="specialization">
        <div *ngIf="doctorForm.get('specialization').hasError('required') && doctorForm.get('specialization').touched">
         *Specialization is required.
        </div>
      </div>


    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" formControlName="location">
        <div *ngIf="doctorForm.get('location').hasError('required') && doctorForm.get('location').touched">
            *Location is required.
        </div>
    </div>

    <div class="form-group">
        <label for="experience">Experience:</label>
        <input type="text" id="experience" formControlName="experience">
        <div *ngIf="doctorForm.get('experience').hasError('required') && doctorForm.get('experience').touched">
            *Start Date is required.
        </div>
    </div>

    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate">
        <div *ngIf="doctorForm.get('endDate').hasError('required') && doctorForm.get('endDate').touched">
            *Start Date is required.
        </div>
    </div>

  <div class="button-submit">
    <button class="button-submit" type="submit" >Create Event</button>
  </div>
    <div *ngIf="errorMessage" class="error-message">
      *{{ errorMessage }}
    </div>

    
  </form>
  
  </div>
</div>