<div class="main-container">
  <div class="sub-container">
    <button class="back-btn" (click)="goBack()">Back</button>

    <h1>Update Employee</h1>

    <form *ngIf="employee">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName" required />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required />
      </div>

      <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="employee.mobileNumber" required pattern="^\d{10}$" />
      </div>

      <div class="form-group">
        <label for="mailId">Email:</label>
        <input type="text" id="mailId" name="mailId" [(ngModel)]="employee.mailId" required pattern="^[a-z]+@[a-z]+\.[a-z]+$" />
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="text" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" required />
        <div *ngIf="!employee.dateOfBirth && touched">
          *Date of birth is required.
        </div>
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" [(ngModel)]="employee.age" required />
        <div *ngIf="!employee.age && touched">
          *Age is required.
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" [(ngModel)]="employee.gender" required>
          <option value="">Select</option>
          <option *ngFor="let type of genders" [value]="type">
            {{ type }}
          </option>
        </select>
        <div *ngIf="!employee.gender && touched">
          *Gender is required.
        </div>
      </div>

      <div class="form-group">
        <label for="education">Education:</label>
        <input type="text" id="education" name="education" [(ngModel)]="employee.education" required />
        <div *ngIf="!employee.education && touched">
          *Education is required.
        </div>
      </div>

      <div class="form-group">
        <label for="experience">Experience:</label>
        <input type="text" id="experience" name="experience" [(ngModel)]="employee.experience" required />
        <div *ngIf="!employee.experience && touched">
          *Experience is required.
        </div>
      </div>

      <div class="form-group">
        <label for="photo">Photo:</label>
        <input
          type="file"
          id="photo"
          name="photo"
          (change)="handleFileChange($event)"
          accept=".png, .jpg"
        />
      </div>

      <div class="button-submit">
        <button type="submit" (click)="updateEmployee()">Update Employee</button>
      </div>
    </form>
  </div>
</div>
