<div id="vacationRentalHomeBody" [ngClass]="{ blur: showLogoutPopup }">
    <div class="top-head">
      <button class="logout-btn-grad" (click)="showLogoutPopup = true">
        Logout
      </button>
    </div>
    <h1>Available Doctors</h1>
  
    <div class="search-sort-container">
      <input type="text" [(ngModel)]="searchText" (input)="searchDoctors()" placeholder="Search by doctor name..." />
      <div>
        <label for="sort">Sort by Experience:</label>
        <select [(ngModel)]="sortValue" (change)="sortDoctors()" class="sort-select">
          <option value="">Select</option>
          <option value="1">Ascending</option>
          <option value="-1">Descending</option>
        </select>
      </div>
    </div>
  
    <table class="employee-table">
      <thead>
        <tr>
        <th>Doctor Photo</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Specialization</th>
          <th>Experience</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
            <td>
                <img src="{{ doctor.photo }}" alt="Employee Image" class="employee-image" /> 
            </td>
          <td>{{ doctor.firstName }}</td>
          <td>{{ doctor.lastName }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>{{ doctor.experience }}</td>
          <td>
            <button (click)="viewInfo(doctor)">View Info</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="showLogoutPopup" class="logout-popup">
    <p>Are you sure you want to logout?</p>
    <button (click)="logout(); showLogoutPopup = false" id="logout-btn">
      Yes, Logout
    </button>
    <button (click)="showLogoutPopup = false">Cancel</button>
  </div>
  
  <div class="modal" [ngStyle]="{ display: showModal ? 'block' : 'none' }">
    <div class="modal-content">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h2>Doctor Details</h2>
      <div class="image-container">
        <table class="doctor-details-table">
            <tr>
              <td><strong>Doctor name:</strong></td>
              <td>{{ selected.firstName }} {{ selected.lastName }}</td>
            </tr>
            <tr>
              <td><strong>Experience:</strong></td>
              <td>{{ selected.experience }}</td>
            </tr>
            <tr>
              <td><strong>Specialization:</strong></td>
              <td>{{ selected.specialization }}</td>
            </tr>
            <tr>
              <td><strong>Location:</strong></td>
              <td>{{ selected.location }}</td>
            </tr>
            <tr>
              <td><strong>Availability:</strong></td>
              <td>{{ selected.availability }}</td>
            </tr>
            <tr>
              <td><strong>Posted by:</strong></td>
              <td>{{ selectedItem?.firstName }} {{ selectedItem?.lastName }}</td>
            </tr>
            <tr>
              <td><strong>Contact Email:</strong></td>
              <td>{{ selectedItem.email }}</td>
            </tr>
            <tr>
              <td><strong>Contact Phone:</strong></td>
              <td>{{ selectedItem.mobileNumber }}</td>
            </tr>
          </table>
          
  
      </div>
    </div>
  </div>