<div class="main-container">
    <div class="sub-container">
<button class="back-btn" (click)="goBack()">Back</button>

<h1>Create New Doctor</h1>

<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName">
      <div *ngIf="doctorForm.get('firstName').hasError('required') && doctorForm.get('firstName').touched">
        *First Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName">
      <div *ngIf="doctorForm.get('lastName').hasError('required') && doctorForm.get('lastName').touched">
        *Last Name is required.
      </div>
    </div>

    <div class="form-group">
        <label for="specialization">Specialization:</label>
        <input type="text" id="specialization" formControlName="specialization">
        <div *ngIf="doctorForm.get('specialization').hasError('required') && doctorForm.get('specialization').touched">
         *Specialization is required.
        </div>
      </div>


    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" formControlName="location">
        <div *ngIf="doctorForm.get('location').hasError('required') && doctorForm.get('location').touched">
            *Location is required.
        </div>
    </div>

    <div class="form-group">
        <label for="experience">Experience in yrs:</label>
        <input type="number" id="experience" formControlName="experience">
        <div *ngIf="doctorForm.get('experience').hasError('required') && doctorForm.get('experience').touched">
            *Experience is required.
        </div>
    </div>

    <div class="form-group">
      <label>Availability:</label>
      <div *ngFor="let availability of availabilities; index as i">
          <div class="amenity-container">
          <input
              type="checkbox"
              id="availability{{i}}"
              [value]="availability"
              [checked]="isAvailabilitySelected(availability)"
              (change)="handleCheckboxChange($event, availability)"
          />
          <label [for]="'availability' + i">{{availability}}</label>
          </div>
      </div>
      <div *ngIf="doctorForm.get('availability').hasError('required')">
        {{ doctorForm.get('availability').getError('message') }}
      </div>
  </div>


    <div class="form-group">
      <label for="photo">Photo:</label>
      <input type="file" id="photo" formControlName="photo" (change)="handleFileChange($event)" accept=".png, .jpg">
      <div *ngIf="doctorForm.get('photo').hasError('required') && doctorForm.get('photo').touched">
          *Photo is required.
      </div>
  </div>

  <div class="button-submit">
    <button class="button-submit" type="submit" >Create Doctor</button>
  </div>
    <div *ngIf="errorMessage" class="error-message">
      *{{ errorMessage }}
    </div>

    
  </form>
  
  </div>
</div>