<div class="main-container">
    <div class="sub-container">
<button class="back-btn" (click)="goBack()">Back</button>

<h1>Create New Employee</h1>

<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName">
        <div *ngIf="employeeForm.get('firstName').hasError('required') && employeeForm.get('firstName').touched">
          *First name is required.
        </div>
      </div>
    
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName">
        <div *ngIf="employeeForm.get('lastName').hasError('required') && employeeForm.get('lastName').touched">
          *Last name is required.
        </div>
      </div>
    

    <div class="form-group">
        <label for="mobileNumber">Mobile Number:</label>
        <input type="text" id="mobileNumber" formControlName="mobileNumber">
        <div *ngIf="employeeForm.get('mobileNumber').hasError('required') && employeeForm.get('mobileNumber').touched">
          *Mobile number is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="mailId">Email:</label>
        <input type="text" id="mailId" formControlName="mailId">
        <div *ngIf="employeeForm.get('mailId').hasError('required') && employeeForm.get('mailId').touched">
          *Email is required.
        </div>
        <div *ngIf="employeeForm.get('mailId').hasError('pattern') && employeeForm.get('mailId').touched">
          *Enter a valid email address.
        </div>
      </div>
      
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" formControlName="dateOfBirth">
        <div *ngIf="employeeForm.get('dateOfBirth').hasError('required') && employeeForm.get('dateOfBirth').touched">
          *Date of birth is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" formControlName="age">
        <div *ngIf="employeeForm.get('age').hasError('required') && employeeForm.get('age').touched">
          *Age is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="education">Education:</label>
        <input type="text" id="education" formControlName="education">
        <div *ngIf="employeeForm.get('education').hasError('required') && employeeForm.get('education').touched">
          *Education is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="experience">Experience:</label>
        <input type="text" id="experience" formControlName="experience">
        <div *ngIf="employeeForm.get('experience').hasError('required') && employeeForm.get('experience').touched">
          *Experience is required.
        </div>
      </div>

    <div class="form-group">
        <label for="photo">Photo:</label>
        <input type="file" id="photo" formControlName="photo" (change)="handleFileChange($event)" accept=".png, .jpg">
        <div *ngIf="employeeForm.get('photo').hasError('required') && employeeForm.get('photo').touched">
          *Photo is required.
        </div>
      </div>

  <div class="button-submit">
    <button class="button-submit" type="submit" >Create Event</button>
  </div>
    <div *ngIf="errorMessage" class="error-message">
      *{{ errorMessage }}
    </div>

    
  </form>
  
  </div>
</div>